
- var page_title = '한화 갤러리 디자인 스터디'

<!DOCTYPE html>
!= '<!--[if !IE]><!-->'
html.no-js(lang="ko-KR")
	!= '<!--<![endif]-->'
	!= '<!--[if IE 8]> <html lang="ko-KR" class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->'
	!= '<!--[if IE 9]> <html lang="ko-KR" class="no-js lt-ie9 ie9"> <![endif]-->'
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block doc_title
			title #{page_title}
		//- meta(name="robots" ,content="all")
		//- meta(name="keywords" ,content="디자인에이전시, 웹디자인, CI디자인")
		//- meta(name="description" ,content="웹디자인을 비롯한 여러가지 디자인을 진행하는 회사")

		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/style.css")

	body
		#slide-control-buttonset.wrapper
			a#auto-slide-btn(href="" role="button")
				i.fa.fa-play(aria-lable="슬라이드 자동 재생")
			a#stop-slide-btn(href="" role="button")
				i.fa.fa-stop(aria-lable="슬라이드 정지")

		#hanwha-gallery
	
		//- javascript MVC
		script(src="js/hanwha-gallery-model.js")
		script(src="js/hanwha-gallery-view.js")
		script(src="js/hanwha-gallery-controller.js")
		//- script(src="js/index.js")
		script.
			(function(global, $){
				'use strict';
				var autoSlideBtn = document.querySelector('#auto-slide-btn'),
					stopSlideBtn = document.querySelector('#stop-slide-btn');
				$.controller.autoSlide();
				autoSlideBtn.onclick = function(){
					$.controller.autoSlide(1400);
					return false;
				};
				stopSlideBtn.onclick = function(){
					$.controller.stopSlide();
					return false;
				};
			})(window, window.hanwha);

