.wrap {
  width: 100%;
}

.wrap .header {
  width: 940px;
  height: 119px;
  margin: 0 auto;
}

.wrap .extra {
  width: 100%;
  background-color: #ededed;
}

.wrap .extra .inner {
  width: 940px;
  height: 10px;
  margin: 0 auto;
  background-color: #ededed;
}

.wrap .main {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.wrap .main .breadcrumbs {
  position: absolute;
  top: 10px;
  right: 0;
}

.wrap .main .breadcrumbs .gt {
  margin-left: 5px;
  font-size: 10px;
}

.wrap .main .breadcrumbs .line {
  padding: 0 3px;
}

.wrap .main .aside {
  float: left;
  width: 120px;
  padding-top: 40px;
}

.wrap .main .contents {
  float: right;
  width: 760px;
  padding: 70px 0 100px;
}

.wrap .footer {
  clear: both;
  width: 100%;
  border-top: 1px solid #f1f1f1;
}

.wrap .footer .inner {
  width: 940px;
  height: 130px;
  margin: 0 auto;
}

h1 {
  float: left;
  margin-top: 38px;
}

.nav {
  float: left;
  position: relative;
  margin: 39px 0 0 70px;
  width: 320px;
}

.nav > li {
  float: left;
  margin-left: 36px;
}

.nav > li:first-child {
  margin: 0;
}

.nav ul {
  display: none;
  position: absolute;
  top: 25px;
  left: -8px;
  overflow: hidden;
  border-top: 2px solid #57c333;
  padding: 18px 13px 16px 18px;
  width: 303px;
  background: url("../images/gnb_bg.png") 0 bottom no-repeat;
  z-index: 100;
}

.nav ul li {
  float: left;
  width: 101px;
}

.nav ul li a:hover {
  color: #339900;
}

.util {
  float: left;
  width: 370px;
  margin: 35px 0 0 70px;
}

.util a {
  vertical-align: middle;
}

.util > li {
  float: left;
}

.util > li > a {
  float: left;
  margin: 8px 10px 0 0;
  padding-right: 10px;
  background: url("../images/util_bgline.gif") right center no-repeat;
}

.util > .global {
  position: relative;
}

.util > .global > a {
  margin-top: 5px;
  background: none;
}

.util > .global ul {
  position: absolute;
  top: 28px;
  left: -11px;
  width: 100px;
  border-top: 2px solid #57c333;
  padding: 10px 8px 10px;
  background: url("../images/util_bg_global.png") 0 bottom no-repeat;
}

.util > .lang {
  position: relative;
}

.util > .lang > a {
  background: none;
  margin: 0;
  padding: 0;
}

.util > .lang ul {
  position: absolute;
  top: 28px;
  left: 0;
  width: 106px;
  border-top: 2px solid #57c333;
  padding: 10px 8px 10px;
}

.extra {
  background-color: #F1F1F3;
  position: relative;
}

.extra .open {
  position: absolute;
  left: 268px;
  bottom: -14px;
  z-index: 100;
}

.footer {
  color: #a4a4a4;
}

.footer .inner {
  position: relative;
}

.footer .logo {
  float: left;
  margin: 25px 37px 0 0;
}

.footer .etclink {
  float: left;
  margin-top: 25px;
}

.footer .etclink li {
  float: left;
  background: url("../images/line_h.gif") 0 30% no-repeat;
  margin-right: 7px;
  padding-left: 8px;
}

.footer .etclink li a {
  color: #a4a4a4;
  display: block;
}

.footer .etclink li:first-child {
  background: none;
  padding: 0;
}

.footer .othersvc {
  float: right;
  margin: 25px 170px 0 0;
}

.footer .othersvc li {
  float: left;
  margin-left: 17px;
}

.footer .inhouse {
  position: absolute;
  top: 20px;
  right: 0;
}

.footer .inhouse ul {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 0;
  border-bottom: 2px solid #57c333;
  width: 116px;
  padding: 10px 8px;
  text-align: right;
}

.footer .info {
  clear: both;
  float: left;
  width: 460px;
  margin: 20px 0 10px 95px;
}

.footer .info > * {
  display: inline-block;
  vertical-align: top;
  line-height: 16px;
}

.footer .info .line {
  background: url("../images/line_h.gif") no-repeat 0 30%;
  margin-left: 7px;
  padding-left: 8px;
}

.footer .info address {
  font-style: normal;
}

.footer .copy {
  clear: both;
  font-size: 11px;
  margin-left: 95px;
}

.aside > h2 {
  border-bottom: 2px solid #339900;
  padding-bottom: 7px;
  margin-bottom: 12px;
}

.lnb > li a {
  display: block;
}

.lnb > li > a {
  padding: 5px 0 4px;
}

.lnb > li ul > li > a {
  padding-top: 4px;
}

.side_links {
  margin-top: 101px;
}

.side_links h3 {
  font-size: 10px;
  letter-spacing: -0.11em;
  margin-bottom: 5px;
}

.side_links img {
  vertical-align: top;
}

.slogan {
  margin-top: 21px;
}

.col3 > .col {
  float: left;
  width: 236px;
}

.col3 > .col + .col {
  margin-left: 36px;
}

.col3 > .col > p + p {
  margin-top: 30px;
}

.col3 > .col.last {
  width: 215px;
}

.col3:after {
  content: '';
  display: block;
  clear: both;
}

.naver11 .slogan + .col3 {
  margin: 30px 0;
  border-bottom: 1px solid #999;
  padding-bottom: 40px;
}

.naver11 h4 + .col3 {
  margin: 43px 0 30px;
}

.naver11 h4 + .col3 > .col > .banner {
  background: url("../images/bg_corp_down.gif") no-repeat right bottom;
  text-align: right;
  height: 70px;
}

.naver11 .col3 > .col > .link_banner {
  border-top: 2px solid #339900;
}

.naver11 .col3 > .col > .link_banner a {
  display: block;
}

.naver11 .visual {
  margin-left: -180px;
  background: url("../images/img_corp_connect.gif") 0 0 no-repeat;
  width: 940px;
  height: 170px;
}

.naver71 > .col3 {
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin: 48px 0 36px;
}

.naver71 > .col3 > .col {
  display: inline-block;
  width: 240px;
  height: 245px;
  font-size: 12px;
  vertical-align: top;
  position: relative;
}

.naver71 > .col3 > .col + .col {
  margin-left: 20px;
}

.naver71 > .col3 > .col > h4 {
  margin-bottom: 8px;
}

.naver71 > .col3 > .col > ul > li {
  padding-left: 10px;
  background: url("../images/bul_dot_squ.gif") 0 6px no-repeat;
}

.naver71 > .col3 > .col > .pro_btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.naver71 > .process > h4 + img {
  margin-top: 21px;
}

.naver71 > .process > ol {
  margin-top: 31px;
  position: relative;
  height: 340px;
}

.naver71 > .process > ol > li {
  width: 380px;
  position: absolute;
}

.naver71 > .process > ol > li > ul {
  margin: -2px 0 12px 45px;
}

.naver71 > .process > ol > li > ul > li {
  padding-left: 10px;
  background: url("../images/bul_dot_squ.gif") 0 6px no-repeat;
}

.naver71 > .process > ol > li > ul > li + li {
  margin-top: 10px;
}

.naver71 > .process > ol > li.num2 {
  top: 150px;
  left: 0;
}

.naver71 > .process > ol > li.num3 {
  top: 0;
  left: 380px;
}

.naver71 > .process > ol > li.num4 {
  top: 240px;
  left: 380px;
}

.service > .part {
  height: 510px;
  background: url("../images/bg_svc_naver2.jpg") 100% 100% no-repeat;
}

.service > .part > .link {
  display: inline-block;
  margin-top: 25px;
}

.service > .part > .slogan {
  padding-left: 258px;
  margin: -78px 0 0;
}

.service > .part > .desc {
  padding-left: 258px;
  margin: 25px 0 0;
}

.service > .hit {
  background: url("../images/line_svc2.gif") repeat-x;
  margin-bottom: 78px;
}

.service > .hit > .date {
  text-align: right;
}

.service > .hit > ul {
  margin-top: 1px;
  font-size: 0;
}

.service > .hit > ul > li {
  display: inline-block;
  background: url("../images/bg_svc_point2.gif") 0 0 x-repeat;
  width: 126px;
  font-size: 12px;
  padding-top: 20px;
  letter-spacing: -1px;
}

.service > .hit > ul > li > * {
  display: block;
}

.service > .hit > ul > li > strong {
  font-size: 16px;
  margin-top: 7px;
  line-height: 18px;
}

.service > .hit > ul > li > span {
  line-height: 12px;
}

.service > .service_tab {
  margin-bottom: 30px;
  overflow: hidden;
}

.service > .service_tab > li a {
  background: url("../images/tab_svc2.gif") no-repeat;
  float: left;
  width: 118px;
  height: 25px;
  text-indent: -9999px;
}

.service > .service_tab > li a.tab1 {
  background-position: 0 -25px;
}

.service > .service_tab > li a.tab2 {
  background-position: -118px -25px;
}

.service > .service_tab > li a.tab1.active {
  background-position: 0 0;
}

.service > .service_tab > li a.tab2.active {
  background-position: -118px 0;
}

.service .col3 {
  font-size: 0;
}

.service .col3 > .col {
  float: none;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  margin: 0 17px 30px 0;
}

.service .col3 > .col > h4 {
  margin-bottom: 10px;
}

.service .col3 > .col > p {
  letter-spacing: -1px;
  line-height: 20px;
}

.service .col3 > .col.last {
  margin: 0;
}

/*# sourceMappingURL=maps/style.css.map */
