
- var page_title = 'jQuery - Data & Clone'

<!DOCTYPE html>
html.no-js(lang="ko-KR")

	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block doc_title
			title #{page_title}
		//- meta(name="robots" ,content="all")
		//- meta(name="keywords" ,content="디자인에이전시, 웹디자인, CI디자인")
		//- meta(name="description" ,content="웹디자인을 비롯한 여러가지 디자인을 진행하는 회사")

		link(rel="stylesheet", href="css/style.css")
		script(src="js/Libs/jquery-2.1.4.js")
		//- script(src="js/jquery.skipNav.js")

	body
		// 복제 하려는 요소
		a(href="#", role="button", class="UniqueID" ) get UniqueID

		script(src="js/main.js")


