- var page_title = '회사소개'

<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block naver_title
			title naver layout

		link(rel="stylesheet", type="text/css", href="css/reset.css")
		link(rel="stylesheet", href="css/layout.css")
	body
		.wrap
			.header

			.extra
				.inner

			.main
				.breadcrumbs 홈 &gt; #{page_title}
				.aside
				.contents

			.footer
				.inner
