<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block cast_title
			title naver layout

		link(rel="stylesheet", type="text/css", href="css/reset.css")
		link(rel="stylesheet", href="css/2_lnb_menu.css")
	body
		.wrap
			.header

			.extra
				.inner

			.main
				.breadcrumbs 홈 &gt; 회사소개
				.aside
					//- 사이드 메뉴 시작
					h2: img(src="images/h2_recruit.gif", alt="채용")
					ul.lnb
						li
							a(href="#"): img(src="images/lnb_recruit1_off.gif", alt="일과사람")
							ul(style="display:none;")
								li: a(href="#"): img(src="images/lnb_recruit31_on.gif", alt="공지사항")
								li: a(href="#"): img(src="images/lnb_recruit32_off.gif", alt="채용프로세스")
								li: a(href="#"): img(src="images/lnb_recruit33_off.gif", alt="진행중인채용")
								li: a(href="#"): img(src="images/lnb_recruit34_off.gif", alt="인재DB등록")
								li: a(href="#"): img(src="images/lnb_recruit35_off.gif", alt="채용문의")
						li
							a(href="#"): img(src="images/lnb_recruit2_off.gif", alt="회사생활")
							ul(style="display:none;")
								li: a(href="#"): img(src="images/lnb_recruit31_on.gif", alt="공지사항")
								li: a(href="#"): img(src="images/lnb_recruit32_off.gif", alt="채용프로세스")
								li: a(href="#"): img(src="images/lnb_recruit33_off.gif", alt="진행중인채용")
								li: a(href="#"): img(src="images/lnb_recruit34_off.gif", alt="인재DB등록")
								li: a(href="#"): img(src="images/lnb_recruit35_off.gif", alt="채용문의")
						li
							a(href="#"): img(src="images/lnb_recruit3_on.gif", alt="입사지원")
							ul
								li: a(href="#"): img(src="images/lnb_recruit31_on.gif", alt="공지사항")
								li: a(href="#"): img(src="images/lnb_recruit32_off.gif", alt="채용프로세스")
								li: a(href="#"): img(src="images/lnb_recruit33_off.gif", alt="진행중인채용")
								li: a(href="#"): img(src="images/lnb_recruit34_off.gif", alt="인재DB등록")
								li: a(href="#"): img(src="images/lnb_recruit35_off.gif", alt="채용문의")
					.side_links
						h3 Related Information
						a(href="#"): img(src="images/bnn_uxdp_2013.jpg", alt="UXDP 2013 제8회 사용자경험 디자인&마케팅 워크숍")
						a(href="#"): img(src="images/bnn_creative_study_2013.jpg", alt="IT/SW 창의연구 과정보기 2013")
					//- 사이드 메뉴 끝
				.contents

			.footer
				.inner
