
- var page_title = 'jQuery - Javascript jQuery'

<!DOCTYPE html>
//- != '<!--[if !IE]><!-->'
html.no-js(lang="ko-KR")
	//- != '<!--<![endif]-->'
	//- != '<!--[if IE 8]> <html lang="ko-KR" class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->'
	//- != '<!--[if IE 9]> <html lang="ko-KR" class="no-js lt-ie9 ie9"> <![endif]-->'
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block doc_title
			title #{page_title}
		//- meta(name="robots" ,content="all")
		//- meta(name="keywords" ,content="디자인에이전시, 웹디자인, CI디자인")
		//- meta(name="description" ,content="웹디자인을 비롯한 여러가지 디자인을 진행하는 회사")

		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/style.css")

		
		script(src="js/Libs/modernizr.js")
		script(src="js/Libs/detectizr.js")
		//- script(src="js/Libs/jquery-1.11.3.js")
		script(src="js/Libs/jquery-2.1.4.js")
		//- script(src="js/02-noConflict.js")

	body.body-context
		#app
			header
				a.back-btn(href="" role="button" ) Back
				h1#brand yamoo9.app - SubPage
			nav
				ul
					li
						a(href="index.html") Home
					li: a(href="") Sub
			
		script(src="js/main.js")


