<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")
		title reset style
		link(rel="stylesheet", type="text/css", href="css/reset.css")
	body
		h1 First style
		p CSS파일을 이용하여 html에 스타일을 더한다.
