
- var page_title = 'jQuery Effect - Fade Basics'

<!DOCTYPE html>
html.no-js(lang="ko-KR")

	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block doc_title
			title #{page_title}
		//- meta(name="robots" ,content="all")
		//- meta(name="keywords" ,content="디자인에이전시, 웹디자인, CI디자인")
		//- meta(name="description" ,content="웹디자인을 비롯한 여러가지 디자인을 진행하는 회사")

		link(rel="stylesheet", href="css/style.css")
		script(src="js/Libs/jquery-2.1.4.js")
		script(src="js/Libs/jquery.utils.js")

	body
		.container
			//- 사진 들어감.
			.bigBox
			//- 현재상태 알려줌.
			.status
			a.clickToFadeIn(role="button", href="#") Fade In
			a.clickToFadeOut(role="button", href="#") Fade Out
			a.toggleFade(role="button", href="#") Toggle

		script(src="js/main.js")


