extends _cast_template

block cast_title
	title navercast car

block cast_body
	ul.cast_theme
		li
			h3: a(href="#"): img(src="images/h3_cast1.gif", alt="매일의 디자인")
			a(href="#")
				img(src="images/temp_120x80.jpg", alt="")
				strong 자연과 하나가되는<br/> 바디페인팅
				em 에코디자인<br/>
				span 자연과 하나되는 예술
		li
			h3: a(href="#"): img(src="images/h3_cast2.gif", alt="오늘의 심리학")
			a(href="#")
				img(src="images/temp_120x80.jpg", alt="")
				strong 혼자놀기의 달인<br/>그래도 친구는 필요해!
				em 생활 속의 심리학<br/>
				span 만남과 관계형성
		li
			h3: a(href="#"): img(src="images/h3_cast3.gif", alt="아름다운 한국")
			a(href="#")
				img(src="images/temp_120x80.jpg", alt="")
				strong 용이 하늘로 승천하며 <br/>동굴이 생겼다?
				em 동굴기행
				span 제주 용천동굴
		li
			h3: a(href="#"): img(src="images/h3_cast4.gif", alt="오늘의 과학")
			a(href="#")
				img(src="images/temp_120x80.jpg", alt="")
				strong 사상 최악의 <br/>인명피해를 끼친 태풍
				em 지구과학산책
				span 태풍 사라

	ul.cast_etc
		li: a(href="#")
				img(src="images/temp_120x80.jpg", alt="카니발")
				strong 영화광이 만든<br/>잠입액션게임의 걸작 
				span 메탈기어 시리즈<br/>
					|더 리얼하게, 더 영화처럼
		li: a(href="#")
				img(src="images/temp_120x80.jpg", alt="포르쉐")
				strong 시공을 초월한<br/>신비로운 시간여행 
				span 오직 너를 위한 연주<br/>
					|말할 수 없는 비밀

	ul.cast_note
		li.special
			a(href="")
				img(src="images/temp_120x80.jpg", alt="")
				strong 델타포스, 인질구출작전<br/>헬기 1대 때문에 작전 실패
				span 인질 한명 구하지 못한 미국 군대<br/>
		li: a(href="#")
			em [과학] 
			span 그림으로 보는 원자력발전소 내부 구조
		li: a(href="#")
			em [전설] 
			span 세계에서 가장 키가 컸던 여자는?
		li: a(href="#")
			em [생활] 
			span 상식을 뒤엎는 음식 이야기
		li: a(href="#")
			em [역사] 
			span 구석기시대 '흥수아이' 복원 사진
		li: a(href="#")
			em [문화] 
			span 우리나라에서 박수근이 비싼 이유


	.sbj_more
		h3: img(src="images/h3_more.gif", alt="주제별 더보기")
		ul
			li: a(href="#") 네이버캐스트홈
			li: a(href="#") 오늘의 과학
			li: a(href="#") 인물과 역사
			li: a(href="#") 오늘의 문학
			li: a(href="#") 지식백과
