extends _cast_template

block cast_title
	title navercast game

block cast_body
	.game_hot: a(href="#"): img(src="images/hot.jpg", alt="사이퍼즈")

	ul.game_etc
		li: a(href="#")
				img(src="images/mat_154658638c.jpg", alt="로스트사가")
				strong 로스트사가
				span 시공 초월한 다양한 <strong>직업</strong> <br/> 나만의 용병단을 만들자!

		li: a(href="#")
				img(src="images/mat_17265518.png", alt="프린스오브히어로")
				strong 프린스오브히어로
				span 생존을 위한 종족 연합,용사들의 전투가 시작된다!

	.game_recome
		h3: a(href="#"): img(src="images/mat_192063.gif", alt="오늘의 추천게임")
		ul
			li: a(href="#")
				img(src="images/mat_16841980c.jpg", alt="")
				strong 포스:시공의수호자<br/>
				span 하늘을 지배한다.<br/> 고공혈투 MMORPG!
			li: a(href="#")
				img(src="images/mat_19173315c.jpg", alt="")
				strong 언라이트 <br/>
				span 관념과 사고가 다른 세계,<br/> 새로운 감각의 카드 게임!
			li: a(href="#")
				img(src="images/mat_20433715c.jpg", alt="")
				strong 스페셜포스2 <br/>
				span 가장 빠른 FPS가 온다!<br/> 절대로 방심하지 마라!
			li: a(href="#")
				img(src="images/mat_192157491c.jpg", alt="")
				strong 모두의마블<br/>
				span 뉴욕부터 서울까지<br/> 전 세계 도시를 소유하라!

	.sbj_more
		h3: img(src="images/h3_more.gif", alt="주제별 더보기")
		ul
			li: a(href="#") 네이버게임
			li: a(href="#") 소셜앱스
			li: a(href="#") 스마트폰게임
