
- var page_title = 'jQuery - 웹접근성 준수 : KWCAG 2.0 운용의 용이성 : 스킵 내비게이션'

<!DOCTYPE html>
html.no-js(lang="ko-KR")

	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block doc_title
			title #{page_title}
		//- meta(name="robots" ,content="all")
		//- meta(name="keywords" ,content="디자인에이전시, 웹디자인, CI디자인")
		//- meta(name="description" ,content="웹디자인을 비롯한 여러가지 디자인을 진행하는 회사")

		link(rel="stylesheet", href="css/style.css")
		script(src="js/Libs/jquery-2.1.4.js")

	body
		#skip-navigation
			a(href="#header") go to header
			a(href="#main") go to main
			a(href="#footer") go to footer

		#page
			header(role="banner")
				h1 Skip Navigation Content with WAI
				p.slogan Web Accessiblity is Ally.
			#main(role="main")
				.post
					h3 post title-01
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, dolorem inventore voluptatem!
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nulla.
								cite citation
						div Esse quasi eligendi, vel odit minima voluptas officia consequatur eos quos aperiam?
							blockquote
								p Delectus recusandae veniam reiciendis eligendi, ducimus a accusantium amet esse!
								cite citation
						div Placeat, delectus temporibus ut, suscipit distinctio nobis officia. Voluptates aliquid saepe tempora.
							blockquote
								p Autem, recusandae eum eveniet dolore minus optio tempore officia magni.
								cite citation
				.post
					h3 post title-02
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur voluptatum obcaecati commodi.
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem.
								cite citation
						div Sit repellat nulla ratione animi repellendus id assumenda sed quibusdam rerum minus.
							blockquote
								p Aspernatur hic suscipit tempora vitae, dicta optio esse similique molestiae.
								cite citation
						div Recusandae natus, explicabo dignissimos iusto voluptas accusamus incidunt beatae dolores, reprehenderit sapiente!
							blockquote
								p Minus quo quia, odit possimus reprehenderit, harum amet doloremque eius.
								cite citation
				.post
					h3 post title-03
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum libero soluta consequuntur?
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nulla?
								cite citation
						div Quod maiores ducimus dolore veniam explicabo totam nulla, quae esse aliquid, porro?
							blockquote
								p Eveniet repellendus quisquam eos placeat officia sequi, ipsum pariatur cumque.
								cite citation
						div Nesciunt repellat rem excepturi fuga pariatur explicabo ab, sint, ipsa molestiae quod!
							blockquote
								p Quod velit repudiandae minima, nam molestiae, eaque dolores recusandae dolorem!
								cite citation
				.post
					h3 post title-04
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sapiente maxime suscipit.
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, nemo?
								cite citation
						div Quisquam itaque minima minus quas voluptatem perferendis delectus quia quam neque reprehenderit.
							blockquote
								p Autem facilis inventore incidunt officiis harum repudiandae aperiam deserunt accusantium!
								cite citation
						div Totam praesentium aliquid, sed? Corporis sed natus ipsa dolorem doloremque provident amet!
							blockquote
								p Pariatur aut optio repellat impedit modi inventore, a nemo commodi?
								cite citation
				.post
					h3 post title-05
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ducimus voluptatibus, consequuntur?
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, cum.
								cite citation
						div Qui ab atque consequuntur placeat in et enim vel eos iste, porro.
							blockquote
								p Eligendi illo molestias architecto et est hic, voluptas veritatis facere!
								cite citation
						div Mollitia officiis impedit iure saepe, vel ex tempore dolorem quod perferendis. Adipisci.
							blockquote
								p Corrupti iure inventore rem facilis reiciendis ut, veniam neque nisi!
								cite citation
				.post
					h3 post title-06
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate, nostrum. Ipsam.
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ex?
								cite citation
						div Praesentium molestiae quas asperiores, voluptatem, cupiditate soluta quasi veritatis ab amet rem.
							blockquote
								p Velit esse mollitia, itaque maxime, dolores dicta sequi. Molestiae, est.
								cite citation
						div Accusamus, incidunt adipisci blanditiis odit harum consectetur rem exercitationem sunt iusto laboriosam.
							blockquote
								p Labore ab velit cumque at, error blanditiis soluta accusantium odit.
								cite citation
				.post
					h3 post title-07
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quod, commodi dolorum!
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, minima.
								cite citation
						div Dolorem aliquam eaque odio saepe ipsum, hic incidunt facere? Minus, nemo, illum.
							blockquote
								p Quisquam, nisi, animi. Veniam, libero, ut. Id ipsa ipsam nihil!
								cite citation
						div Praesentium mollitia, quo ducimus iure debitis, suscipit fugiat eveniet! Ducimus, quam, error!
							blockquote
								p Et error quod, vero vitae in numquam eligendi repudiandae aliquam?
								cite citation
				.post
					h3 post title-08
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem id odit quidem.
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, quia.
								cite citation
						div Quos laudantium cum assumenda aspernatur quidem, adipisci eum quisquam. Iste, est, vel.
							blockquote
								p Atque itaque odit omnis similique ex asperiores earum eligendi eos.
								cite citation
						div Cumque, provident soluta impedit distinctio iure placeat non dolorum fugit consectetur deserunt?
							blockquote
								p Deleniti ex maxime consequuntur pariatur numquam, nisi at id incidunt.
								cite citation
				.post
					h3 post title-09
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, amet sed impedit!
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, impedit.
								cite citation
						div Eaque voluptates quod veniam autem, laudantium iste molestiae ad aliquam officia inventore.
							blockquote
								p Accusantium laborum repudiandae nostrum quidem molestiae qui quia deserunt ab.
								cite citation
						div Minima repellat inventore consequatur ipsam maxime nihil dolorum placeat, possimus nulla tempora.
							blockquote
								p Itaque laborum, similique laudantium, consequatur tenetur numquam aperiam expedita repudiandae!
								cite citation
				.post
					h3 post title-10
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptate, natus expedita!
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, odit.
								cite citation
						div Dicta et consectetur perferendis. Aspernatur sit mollitia blanditiis facilis vitae, est eligendi!
							blockquote
								p Quisquam ipsam ipsum placeat molestias mollitia, et animi fuga cupiditate.
								cite citation
						div Corporis libero officiis repellendus vitae nesciunt optio in facilis amet deserunt atque.
							blockquote
								p Illo provident veritatis debitis explicabo quibusdam eos, iure expedita optio.
								cite citation
				.post
					h3 post title-11
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ullam fugiat, magnam.
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, sequi!
								cite citation
						div Expedita molestiae accusamus, praesentium delectus voluptas, iste minus veritatis facilis odio possimus!
							blockquote
								p Nobis ea, dignissimos porro veritatis quae quas eaque obcaecati fugit.
								cite citation
						div Voluptatum ducimus maiores, modi molestias praesentium fugit dicta ipsum harum necessitatibus repellat.
							blockquote
								p Illum earum aliquid id eius eum adipisci vel quod asperiores?
								cite citation
				.post
					h3 post title-12
					.wrapper
						div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nesciunt dolor aperiam.
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, facilis.
								cite citation
						div Alias atque repudiandae sunt vitae aliquid perspiciatis eius eos, iure eum esse?
							blockquote
								p Vel ea dolorem quo? Reprehenderit eum praesentium eaque nobis unde.
								cite citation
						div Placeat unde in similique ullam ducimus veritatis tempore, dolores, dolorum quia sed.
							blockquote
								p Ipsum eius consequuntur similique in! Quos hic aliquam dignissimos assumenda.
								cite citation
			#footer(role="contentinfo")
				address Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis laborum cum amet.

		script(src="js/main.js")


