<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")
		title heading
	body
		// heading
		h1 naver

		h2 오픈케스트

		h3 금주의 오픈캐스트

		h4 오늘의 오픈캐스트

		h5 오전의 오픈캐스트

		h6 10시의 오픈캐스트