<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")
		title 그룹
	body
		// division
		div
			h3 네이버 캐스트
			p 우리가 일상생활에서 환경을 위해 할 수 있는 가장 손쉽고 간편한 방법은 무엇이 있을까? 아마도 전력을 아껴 쓰는 일일 것이다. 전 지구적으로 에너지 위기는 극대화되고 있다. 전문가들은 2050년이면 에너지 위기가 현실화 될 것이라고 한다. 
				span 어쩌면 우리는 멀지 않은 미래에 어둠 컴컴한 도시 속에서 살아야 할지도 모른다.
				// span : Inline Text Container

		// horizontal rule 가로줄
		hr

		div
			h3 오픈 캐스트스
			p 스티커의 디자인이 참 독특하다. 전력이 생산되는 과정을 보여주는 스티커, 전력 소비로 인한 환경 오염을 노골적으로 보여주는 스티커 등 다양하다. 

