<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")
		title page info
	
		meta(name='robots', content='all')
		meta(name='keywords', content='디자인에이젼시, 웹디자인, CI디자인')
		meta(name='description', content='웹디자인을 비롯한 여러가지 디자인을 진행하는 회사')
		meta(name='author', content='홍길동')
		link(rel='stylesheet', type='text/css', media='screen', href='css/style.css')

	body
		