body {
  background-image: url("../images/bg_9x9.gif");
}

.wrap {
  width: 970px;
  margin: 0 auto;
  padding: 0 35px;
  background-color: #fff;
}

.header {
  position: relative;
  height: 100px;
  background: url("../images/bg_shadow_bottom.png") 0 bottom no-repeat;
}

.header .language {
  position: absolute;
  top: 14px;
  right: 10px;
}

.header .language li {
  float: left;
}

.header .language li.active > a {
  color: red;
}

.header .language li + li {
  margin-left: 10px;
}

.header .nav {
  float: right;
  margin: -40px 10px 0 0;
}

.header .nav li {
  float: left;
}

.header .nav li a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.header .nav li + li {
  margin-left: 32px;
}

.breadcrumb {
  padding: 10px;
}

.breadcrumb > a {
  color: blue;
  padding-right: 10px;
  background: url("../images/breadcrumb_inactive.png") 95% 10% no-repeat;
}

h2 {
  text-align: right;
  font-size: 28px;
  color: red;
  line-height: 28px;
  margin-bottom: 20px;
}

.visual {
  position: relative;
  height: 465px;
}

.visual .control {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  text-align: center;
  padding: 5px 0 4px;
  font-size: 0;
}

.visual .control a {
  display: inline-block;
  color: #fff;
  width: 16px;
  height: 16px;
  background: url("../images/visual_slider_inactive.png") no-repeat;
  text-indent: -9999px;
}

.visual .control a.active {
  background: url("../images/visual_slider_active.png") no-repeat;
}

.visual .arrow a {
  position: absolute;
  top: 175px;
  width: 50px;
  height: 81px;
  font-size: 0;
  background-color: #000;
  background-image: url("../images/visual_arrow.png");
}

.visual .arrow a.next {
  right: 0;
  background-position: -100px 0;
}

.visual .pannel > ul > li {
  position: relative;
}

.visual .pannel > ul > li > .description {
  position: absolute;
  right: 18px;
  bottom: 15px;
  width: 334px;
  padding: 10px 13px 0;
  background-color: #fff;
}

.visual .pannel > ul > li > .description h3 {
  font-size: 28px;
  color: red;
}

.visual .pannel > ul > li > .description p {
  font-size: 13px;
  margin-bottom: 15px;
}

.visual .pannel > ul > li > .description a {
  display: block;
  float: right;
  width: 145px;
  font-size: 14px;
  color: #fff;
  padding: 2px 0 5px 30px;
  background-color: #45bbed;
  background-image: url("../images/visual_readthestory.gif");
  background-repeat: no-repeat;
  margin-right: -13px;
}

.visual .pannel > ul > li > .description a:hover,.visual .pannel > ul > li > .description a:focus {
  background-color: #4bc9ff;
  background-position: 0 -25px;
}

.contents h3 {
  color: #45bbed;
  font-size: 24px;
}

.contents h4 {
  color: #45bbed;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 8px;
  margin-bottom: 13px;
  background: url("../images/line_dot.png") 0 bottom repeat-x scroll;
}

.contents .section + .section {
  background: url("../images/line_dot.png") 0 0 repeat-x;
}

.contents .section:after {
  content: '';
  clear: both;
  display: block;
}

.contents .section {
  padding: 25px 0;
}

.contents .section .col1 {
  float: left;
  width: 170px;
  margin-left: 20px;
}

.contents .section .col2 {
  float: left;
  width: 360px;
  margin-left: 20px;
}

.contents .section .col3 {
  float: left;
  width: 570px;
}

.contents .section .col4 {
  float: left;
  width: 760px;
}

.contents .section .col5 {
  float: left;
}

.contents .section.global .col1 img {
  width: 170px;
}

.contents .section.global .col3 .col1 {
  margin: 0 0 20px 20px;
}

.contents .section.global .col5 .col1 strong {
  display: block;
  margin-bottom: 10px;
}

.contents .section.global .col5 .col1 strong a {
  color: red;
}

.footer {
  background-color: #ededed;
  padding: 20px 10px 20px 20px;
  overflow: hidden;
}

.footer > ul {
  float: left;
}

.footer > ul li {
  float: left;
  width: 94px;
  margin-right: 10px;
}

.footer > ul li h5 {
  margin-bottom: 10px;
}

.footer > p {
  clear: both;
  padding-top: 20px;
  text-align: center;
}

.footer > h2 {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*# sourceMappingURL=maps/style.css.map */
