
- var page_title = 'jQuery Effect - Fade to'

<!DOCTYPE html>
html.no-js(lang="ko-KR")

	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")

		block doc_title
			title #{page_title}
		//- meta(name="robots" ,content="all")
		//- meta(name="keywords" ,content="디자인에이전시, 웹디자인, CI디자인")
		//- meta(name="description" ,content="웹디자인을 비롯한 여러가지 디자인을 진행하는 회사")

		link(rel="stylesheet", href="css/style.css")
		script(src="js/Libs/jquery-2.1.4.js")
		script(src="js/Libs/jquery.utils.js")

	body
		.container
			a.fadeBox(href="#")
				h3 Services
			a.fadeBox(href="#")
				h3 Support
			a.fadeBox(href="#")
				h3 Innovation

		script(src="js/main.js")


